
.checkbax_i{height: 20px;width: 20px;top: 7px;left: 15px;}
.label_l30_check{left: 35px; top: 10px;}
.label_l160_c76c9ff{left: 135px;color: #76c9ff;top: 10px;}

.label_cF85050_t15{font-size: 14px; color: #F85050;top: 15px;}
.label_c4D4D4D_t15{font-size: 14px; color: #4D4D4D;top: 15px;}

.slider_l15_h25_w290{left: 15px;height: 25px;width: 290px;}