.div_t0_h34_w320 {top: 0px;height: 34px;width: 320px;}
.div_t34_w320 {top: 34px;width: 320px;}

.tabel_t0_w320_bgFFFFFF {top: 0px;width: 320px;background-color: #FFFFFF;}

.input_t0_h34_fs12_c666666{top: 0px;height: 34px;font-size: 12px;color: #666666;}
.input_t0_h34_fs12_cF85050{top: 0px;height: 34px;font-size: 12px;color: #F85050;}

.label_t10_fs12_c4D4D4D{top: 10px;font-size: 12px;color: #4D4D4D;}
.label_t28_fs12_c4D4D4D{top: 28px;font-size: 12px;color: #4D4D4D;}
.label_t10_fs12_cF85050{top: 10px;font-size: 12px;color: #F85050;}