.div_t0_h281_w320 {top: 0px;height: 281px;width: 320px;background-color: #FFFFFF;}
.div_t281_h30_w304_l8{top: 281px;height: 30px;width: 304px;left: 8px;}
.div_t311_h190_w320 {top: 311px;height: 190px;width: 320px;background-color: #FFFFFF;}
.height190{height: 185px;}