.div_t0_h245_w320{top:0px;height: 245px;width: 320px;}
.div_t0_h74_w320 {top: 0px;height: 74px;width: 320px;background-image:url(ebank_red_packet/images/HbTopBg.png);}
.div_t52_h45_w45 {top:52px;height: 45px;width: 45px;background-image:url(ebank_red_packet/images/topHead.png);}

.div_t101_l127{top:101px;width: 320px;}
.label_t0_l0_fs12_c666666{top: 0px;font-size: 12px;color: #666666;}

.div_t128_w320 {top:128px;width: 320px;}
.div_t158_w320 {top:158px;width: 320px;}
.div_t188_w320 {top:188px;width: 320px;}
.div_t218_w320 {top:218px;width: 320px;}
.label_t0_fs12_c666666{top: 0px;font-size: 12px;color: #666666;}

.div_t260_w320{top:260px;width: 320px;}
.tabel_t0_w320_bgFFFFFF {top: 0px;width: 320px;background-color: #FFFFFF;}
.img_h30_w30_t10{height: 30px;width: 30px;top: 10px;}
.label_t10_fs12_c666666{top: 10px;font-size: 12px;color: #666666;}
.label_t28_fs12_c666666{top: 28px;font-size: 12px;color: #666666;}