.cmm_ui_t15{top: 15px;}
.cmm_ui_h120{height: 120px;}
.cmm_ui_h85{height: 85px;}
.cmm_ui_w163{width: 163px;}
.cmm_ui_h15{height: 15px;}
.public_succeed_label2{left: 100px; color: #4D4D4D;font-size: 14px;top: 60px;width: 194px;}
.public_succeed_label3{left: 100px; width: 194px;color: #F85050;font-size: 17px;top: 85px;width: 320px;}
.cmm_ui_l50{left: 50px;}
.public_succeed_label4{color: #4D4D4D;font-size: 17px;top: 29px;text-align:right;}