    /*转入，申购，赎回，转出 公共样式*/

    .buttom_b0{font-size: 14px;left:15px;width:290px;}
    .label_l15_f14{left:15px;font-size:14px;height:44px;color: #666666;}
    .input_l80_w160{left:80px;width:160px;height:30px;}



    /*table布局*/
    .div_w320_t131{width: 320px;top: 131px;}
    .table_t0{top: 0px;}
    /*左边文字*/
    .label_left{left: 15px;font-size: 14px;}
    .tr_bEBEBEE{background-color: #EBEBEB;}
    /*线背景*/
    .bD8D8D8{background-color: #D8D8D8;};
    /*右边文字*/
    .label_right{right: 15px;font-size: 14px;color: #666666;}
    .cF85050{color: #F85050;right: 30px;}
    /*大写字*/
    .label_chinse{font-size: 10px;color: #999999;right: 15px;top:17px;}
    /*输入框*/
    .input_l46_w80{top:10px;left: 126px;width: 180px;font-size: 12px;color: #3A3A3A;}
    .img_w10_h10{width: 10px;height: 10px;top: 8px;left: 15px;}
    .label_l30{left: 30px;top:5px;font-size: 12px;}
    .bFC646B{color: #FC646B;font-size:12px;top: 5px;}
    .label_new{font-size:12px;top: 5px;color: #666666;}
    .checkbax_i{height: 20px;width: 20px;top: 8px;left: 15px;}

    .label_l30_check{left: 35px; top: 10px;font-size: 12px;}
    .label_l160_c76c9ff{left: 125px;color: #76c9ff;top: 10px;font-size: 12px;}

    .div_d{height: 44px;top: 0px;}
    .div_h10{height: 10px;}
