

    .div_w320_t44_l0{width: 320px;top: 44px;left: 0px;}
    .div_t0{top: 0px;}

    /*中间图标*/
    .div_h60_w320_t109{height: 60px;width: 320px;top: 109px;background-color: #ffffff;}
    /*折线图div*/
    .div_h120_w320_t184{height: 175px;width: 320px;top: 184px;background-color: #ffffff;}
    /*上下缩放*/
    .div_h100_w320{width: 320px;top:374px;}
   
    .buttom_b0{bottom: 0px;position: fixed;font-size: 14px;width: 320px;left: 0px;background-color: #FF5A5F;color: #ffffff;height: 40px;}
    .table_n{width: 320px;background-color: #FC646B;}

    /*七日年化收益，万份收益公共部分*/
    .div_h116_w320_t0{height: 109px; width: 320px;top: 0;background-color: #ffffff;color: #FC646B;}/*外层*/
    
    .label_f40_w160{font-size: 32px;width: 160px;text-align: center;color: #f85050;top: 30px;}/*字体*/
    .label_f14_w160{font-size: 12px;width: 160px;text-align: center;color: #666666;}
    .div_t30{top:30px;}
    .div_t80{top:75px;}
    .div_l160{left: 160px;}

    .line_2{height: 40px;width: 1px;left: 160px;top:40px;background-color: #4d4d4d;filter:progid(alpha='0.3');}/*中间线*/
    /*中间图片*/
    .img_l160_t30_w1{left: 160px;top: 40px;width: 3px;height: 40px;}

    /*图标*/
    .img_w32_h32{width: 32px;height: 32px;top:0px;}
    .img_l30{left: 15px;}
    .img_l80{left: 80px;}
    .img_l145{left: 145px;}
    .img_l210{left: 210px;}
    .img_l275{left: 274px;}
    /*文字*/
    .label_w32_tc_t37{width: 60px;text-align: center; top: 35px;font-size: 10px;color: #666666;}

    /*折线图*/
    .plot21 {left:0px; width:300px; height:120px; top:10px; color:#f1f1f1;}/*框架*/

    .2scale11 {font-size:9px; color:#4d4d4d; width:1px; background-color:#f1f1f1; margin-top:15px;}/*y轴数扭*/

    .2scale21 {font-size:9px; color:#4d4d4d; width:1px; background-color:#f1f1f1; margin-top:38px;}/*x轴数扭*/

    .line {width:1px; height: 10px; background-color:#FF5A5F; filter:progid(GradientType=3,StartColorStr='#FF5A5F',EndColorStr='#ffffff',alpha='0.5');}/*折线*/

    .li21 {width:5px; height:5px; background-color:#FF5A5F;}/*节点*/

    /*收益表文字*/
    .label_f14_c4d4d4d_l15{font-size: 14px;color: #4d4d4d;left: 15px;top:15px;}
    /*折线图控制div*/
    .div_table_l15{left: 10px;color:#4d4d4d;}

    /*上下缩放*/
     .tr_h35_l15_t10_h15_f12_c69c2fc{height: 35px;font-size: 12px;color: #69c2fc;}
    /*左边图标*/
     .img_l15_t8_h14{left: 15px;top: 11px;height: 14px;width: 14px;}
    /*文字*/
     .label_l15_t10{left: 35px;top: 10px;}

    .img_down_r15_h5_t15_w14{right: 15px;height: 7px;top: 15px;width: 12px;}
    .img_right_r15_h14_t10_w5{right: 17px;height: 14px;top: 10px;width: 5px;}

    /*介绍文字*/
    .label_l15_w290_f14{left: 15px;width: 290px;font-size: 11px;}

    .div_he300{height: 300px;background-color: #ef4f4f;}

    .table_t0{top: 0px;}