.cmm_ui_h110{height: 110px;}
.cmm_ui_w90{width: 90px;left: 140px}
.cmm_ui_h15{height: 15px;}
.cmm_ui_l97{left: 97px;}
.public_succeed_label2{color: #4D4D4D;font-size: 14px;top: 75px;width: 320px;text-align: center;}
.input_h35_w140_l15_fs14_cFFFFFF{height: 35px;width: 140px;left: 15px;font-size: 14px;color: #FFFFFF;background-image:url(btn_bg.png);}
.input_h35_w140_r15_fs14_cFFFFFF{height: 35px;width: 140px;right: 15px;font-size: 14px;color: #FFFFFF;background-image:url(btn_bg.png);}